body {
   
    width: 100vw;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
   

}


h1 {
    
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(49, 54, 49);


}

h2 {
    text-align: center;
    font-size: 25px;
}

table {
    font-size: 20px;
    font-style: oblique;
    margin-top: 25px;

    width: 80%;
    height: auto;

}

.textArea {
    width: 60%;
   
    font-size: 35px;
    display: block;

  
    
    color: black;
    
    border-radius: 5px;
    border: 1px solid
}

.botao {
    width: 60%;
    height: 80px;
    font-size: 15px;
    display: block;
    color: black;
   margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: white;
    border: solid 1px rgb(206, 203, 203);
    padding: 0px 20px 0px 20px;
    height: 70px;
  
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
}



.sorteado {
    height: 100px;
    width: 500px;
    margin: 40px auto;
    text-align: center;
    font-size: 30px;
    border: 2px black;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;

}

.listaNome {
    height: 50px;
    width: 45%;
    margin-top: 10px;
    text-align: center;

    background: white;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
}
.tabela-nomes{
    font-size: 20px;
    font-style: oblique;
    margin-top: 25px;

    width: 80%;

    overflow: auto;
}
.addNomes {
    display: flex;
    flex-direction: column;

  margin-top: 10px;
    align-items: center;
    height: 400px;
    width: 100%;
    background: white;
order: 2;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    height:300px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    box-shadow: 0px 5px 10px 0px black;

    background: white;
    border-radius: 10px;
}


footer {
    margin-top: 5px;
    padding: 30px 20px 30px 20px;
    box-shadow: 0px 5px 10px 0px black;
    background: white;
    border-radius: 10px;
}

@media(min-width: 1150px) {
    body{
        width: 90%;
    }
    h1{
        font-size: 50px;
    }
    h2 {
        text-align: center;
        font-size: 55px;
    }
    .container {
        display: flex;
        flex-direction: row;
       
        margin-top: 25px;
    
    }

    header {
        margin-top: 20px;
        background: white;
        border: solid 1px rgb(206, 203, 203);
        padding: 0px 20px 0px 20px;
        height: 100px;
        box-shadow: 0px 5px 10px 0px black;
        border-radius: 10px;
    }
    .addNomes {
        display: flex;
        flex-direction: column;

        height: 600px;
        width: 50%;
        background: white;
    
        box-shadow: 0px 5px 10px 0px black;
        border-radius: 10px;
    }
 
    .listaNome {
        height: 50px;
        width: 45%;
       
        text-align: center;
    
        background: white;
        box-shadow: 0px 5px 10px 0px black;
        border-radius: 10px;
    }
    aside {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 45%;
    
        align-items: center;
        box-shadow: 0px 5px 10px 0px black;
    order: 2;
        background: white;
        border-radius: 10px;
    }

    .textArea {
        width: 70%;
        padding: 10px;
        font-size: 35px;
        display: block;
    
        color: black;
        margin-left: 80px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid
    }
    
    .botao {
        width: 74%;
        padding: 10px;
        font-size: 35px;
        display: block;
        color: black;
        margin-left: 80px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid;
        cursor: pointer;
    }

    
}

.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #0e0d0d;
    border-radius: 50%;
    border-top-color: #3f4242;
    height: 50px;
    width: 50px;
    margin: 40px auto;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}